@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
}

body {
  margin: 56px;
  background-color: #fff;
  color: #88918d;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: #252826;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* css classes */
.section {
  padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center {
  font-size: 1.5rem;
  margin: 0 0 2.5rem 0;
  line-height: 140%;
}

.section__title-center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin: 0 1.5rem 0 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

/* header */

.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: 0.4s;
}

/* nav */
.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: #000;
}

.nav__toggle,
.nav__close {
  color: #252826;
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.3s;
}

.nav__logo:hover {
  color: #6c2801;
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

/* media query nav*/

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #fff;
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsl(49, 31, 73);
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    transition: 0.3s;
    z-index: 100;
  }
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}

.nav__link:hover {
  color: #6c2801;
}

/* menu */
.show-menu {
  right: 0;
}

/* active link*/
.active-link {
  position: relative;
  color: #b24000;
}

.active-link:after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 50%;
  height: 4px;
  background-color: #000;
}

/* home */
.home {
  padding: 3.5rem 0 2rem;
}

.home__container {
  position: relative;
  row-gap: 2rem;
}

.home__img {
  width: 400px;
  justify-self: center;
}

.home__title {
  font-size: 2rem;
  line-height: 140%;
  margin: 0 0 1rem 0;
}

.home__description {
  margin: 0 0 2.5rem 0;
}

.home__social {
  position: absolute;
  top: 2rem;
  right: -1rem;
  display: grid;
  justify-items: center;
  row-gap: 3.5rem;
}

.home__social-follow {
  font-weight: 500;
  font-size: 0.75rem;
  color: #000;
  transform: rotate(90deg);
}

.home__social-follow:after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 2px;
  background-color: #000;
  right: -45%;
  top: 50%;
}

.home__social-links {
  display: inline-flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.home__social-link {
  font-size: 1rem;
  color: #000;
  transition: 0.3s;
}

.home__social-link:hover {
  transform: translateX(0.25rem);
}

/* btn's*/

.button {
  display: inline-block;
  background-color: #b24000;
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: 0.3s;
}

.button:hover {
  background-color: #6c2801;
}

.button__icon {
  transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

/* about */
.about__container {
  row-gap: 2rem;
}

.about__img {
  width: 280px;
  justify-self: center;
}

.about__title {
  margin: 0 0 1rem 0;
}

.about__description {
  margin: 0 0 2rem 0;
}

.about__details {
  display: grid;
  row-gap: 1rem;
  margin: 0 0 2.5rem 0;
}

.about__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: 0.813rem;
}

.about__details-icon {
  font-size: 1rem;
  color: #fff;
  margin: 0.15rem 0 0 0;
}

/* products */
.product__description {
  text-align: center;
}

.product__container {
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card {
  display: grid;
  position: relative;
}

.product__img {
  position: relative;
  width: 200px;
  justify-self: center;
  margin: 0 0 0.75rem 0;
  transition: 0.3s;
}

.product__title,
.product__price {
  font-size: 0.813rem;
  font-weight: 600;
  color: #252826;
}

.product__title {
  margin: 0 0 0.25rem 0;
}

.product__button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #b24000;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.35rem;
  font-size: 1.15rem;
}

.product__button:hover {
  background-color: #6c2801;
}

.product__card:hover .product__img {
  transform: translateY(-0.5rem);
}

/* footer */

.footer {
  background-color: #252826;
}
.footer__container {
  row-gap: 3rem;
}

.footer__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 0 2.5rem 0;
  transition: 0.3s;
}

.footer__logo-icon {
  font-size: 1.15rem;
  color: #fff;
}

.footer__logo:hover {
  color: #b24000;
}

.footer__title {
  color: #fff;
}

.footer__data {
  display: grid;
  row-gap: 0.75rem;
}

.footer__information {
  font-size: 0.813rem;
}

.footer__cards {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}
.footer__card {
  width: 35px;
}

.footer__copy {
  text-align: center;
  font-size: 0.813rem;
  color: #000;
  margin: 5rem 0 1rem;
}

/* scroll bar */

::-webkit-scrollbar {
  width: 0.6rem;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #6c2801;
  border-radius: 0.5rem;
}

/* media queries */

/* 320px */
@media screen and (min-width: 320px) {
  .container {
    margin: 0 1rem 0 1rem;
  }

  .home__img {
    width: 180px;
  }

  .home__title {
    font-size: 1.5rem;
  }

  .product__container {
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .product__button i {
    font-size: 10px;
  }

  .footer {
    background-color: #fff;
  }

  .footer__logo {
    color: #000;
  }

  .footer__title {
    color: #000;
  }
}

/* 576px */
@media screen and (min-width: 576px) {
  .product__description {
    padding: 0 4rem;
  }

  .product__container {
    grid-template-columns: repeat(2, 170px);
    justify-content: center;
    column-gap: 5rem;
  }

  .footer {
    background-color: #fff;
  }

  .footer__logo {
    color: #000;
  }

  .footer__title {
    color: #000;
  }
}

/* 767px */
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(3.5rem + 1.5rem);
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin: 0 0 0 auto;
  }

  .home__container,
  .about__container,
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .home {
    padding: 10rem 0 5rem;
  }

  .home__container {
    align-items: center;
  }

  .home__img {
    width: 280px;
    order: 1;
  }

  .home__social {
    top: 30%;
  }

  .footer__container {
    column-gap: 10rem;
  }

  .footer {
    background-color: #fff;
  }

  .footer__logo {
    color: #000;
  }

  .footer__title {
    color: #000;
  }
}

/* 992px */
@media screen and (min-width: 992px) {
  .container {
    margin: 0 auto 0 auto;
  }

  .section {
    padding: 8rem 0 1rem;
  }

  .section__title,
  .section__title-center {
    font-size: 1.5rem;
  }

  .home {
    padding: 13rem 0 5rem;
  }

  .home__img {
    width: 350px;
  }

  .home__description {
    padding: 0 7rem 0 0;
  }

  .about__img {
    width: 380px;
  }

  .footer__logo {
    font-size: 1rem;
  }

  .footer__container {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
  }

  .footer__copy {
    margin: 7rem 0 2rem;
  }
}

/* 1200px */
@media screen and (min-width: 1200px) {
  .home_social {
    right: -3rem;
    row-gap: 4.5rem;
  }

  .home__social-follow {
    font-size: 0.813rem;
  }

  .home__social-follow::after {
    width: 1.5rem;
    right: -60%;
  }

  .about__container {
    column-gap: 7rem;
  }
}
